<template name="portfolioModals">
    {{#each Config.Projects}}
        <div class="portfolio-modal modal fade" id="{{link}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{name}}</h2>
                                <p class="item-intro text-muted">{{description}}</p>
                                <img class="img-responsive" src="{{imgLg}}" alt="">
                                {{{nlToP longDescription}}}
                                <a href="{{url}}" target="_blank" class="btn btn-primary btn-hollow"><i class="fa fa-link"></i> View project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</template>